---
# Lunr search page
layout: page 
custom-foot: js/lunr-js.html
---
{%- assign fields = site.data.config-search | where: 'index',true | map: 'field' -%}
<!-- Button trigger modal -->
<button type="button" class="btn btn-outline-primary float-end" data-bs-toggle="modal" data-bs-target="#operators">Operadores De Búsqueda</button>
<!-- Modal -->
<div class="modal fade" id="operators" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Operadores De Búsqueda Lunr</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Estas opciones avanzadas se pueden agregar a su consulta en el cuadro de búsqueda para refinar sus resultados.:</p> 
                <ul>
                    <li>Busque un campo específico: use el nombre del campo, dos puntos y luego su consulta, e.g. <code>título:casa</code>, <code>fecha:1911</code>, <code>tema:antropología</code>. En esta colección puede usar {{ fields | join: ", " }}.</li>
                    <li>Wildcards: agrega <code>*</code> Para coincidir con cualquier caracter, e.g. <code>cas*</code>, <code>*asa</code>. Esto es util para encontrar palabras con coincidan con el inicio o la terminación.</li>
                    <li>Coincidencia Difusa: agrega <code>~</code> más un número al final de su consulta para especificar un mayor nivel de precisión en la búsqueda, e.g. <code>cas~a</code>. Esto puede ayudar con errores ortográficos.</li>
                    <li>Término de incremento: agrega <code>^</code> más un número al final de su consulta para especificar un mayor nivel de precisión en la búsqueda, e.g. <code>cas^10</code>. Esto ayuda a ordernar las busquedas y obtener resultados importantes.</li>
                </ul>
            </div>
        </div>
    </div>
</div>

{{ content }}

<div class="ms-3 mt-3">
    <form class="" role="search" id="lunrSearch" onsubmit="lunr_search(); return false;">
        <div class="input-group input-group-lg">
            <input id="lunrSearchBox" class="form-control " type="text" placeholder="Introduzca un termino de búsqueda..." >
            <button class="btn btn-success" type="submit">
                Buscar
            </button>
        </div>
    </form>
    
    <table id="lunrResults" class="table table-responsive"></table>
</div>

<div class="mt-3">
    <p class="text-muted">Fuzzy search powered by <a href="https://lunrjs.com/" target="_blank" rel="noopener">Lunr.js</a>. <em>Puede tomar algunos segundos para colecciones grandes!</em></p>
</div>
